
#rosas{
    position: absolute;
    right: 30px;
    margin: 15px 0 0 0;
    height: 15%;
    width: 15%;
}

#nelio{
    margin: 30px 0 0 0;
    height: 300px;
    width: 300px;
    display: block;
    float: left;
}


